<figure {{ with .Get "class"}}class="{{ . }}"{{ end }}>
  {{ if isset .Params "link"}}<a href="{{ index .Params "link"}}">{{ end }}
  {{ $media := $.Page.Resources }}
  {{ $original := $media.GetMatch (.Get "src") }}
  {{ if $original }}
    {{ $resized := $original.Resize "x100" }}
    <img class="lazyload"
         src="{{ $resized.Permalink }}"
         data-src="{{ $original.Permalink }}"
         {{ if not (isset .Params "link") }}data-zoom-src="{{ $original.Permalink }}" data-action="zoom"{{ end }}
         {{ with .Get "alt" }}alt="{{ . }}"{{ end }} >
  {{ end }}
  {{ if isset .Params "link"}}</a>{{ end }}
</figure>
